footer{
  background-color: #212121;
  color: white;
  z-index: 1;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 0.2rem; 
}

footer > .footer-icons{
  display: flex;
  justify-content: space-around;
}

.footer-icons > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}

.footer-icons > a > p {
  margin: 0;
  color: white;
  font-weight: 600;
}

.footer-icons > a > .icon {
  fill: white;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}


@media screen and (min-width: 500px) {
  footer {
    display: none;
  }
}